<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: <%= user.color %>">
    <h1> <%= user.name %>, gracias por visitarnos</h1>
</body>
</html>