<nav class="ps-top">
    <div class="ps-bar ps-white ps-padding ps-card ps-nav">
        <a href="#home" class="ps-bar-item ps-button">Pimienta & Sal</a>
        <!-- Right-sided navbar links. Hide them on small screens -->
        <div class="ps-right ps-hide-small">
            <a href="#about" class="ps-bar-item ps-button">About</a>
            <a href="#menu" class="ps-bar-item ps-button">Menu</a>
        </div>
    </div>
</nav>