* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 25%;
    gap: 8px;
}

a button {
    width: 100%;
}

.error {
    color: #ff0000;
}