main {
  width: 500px;
  height: 5000px;
  background-color: green;
  position: relative;
}

.box {
  width: 100px;
  height: 100px;
  font-size: 48px;
}

#box1 {
  background-color: yellow;
  position: relative;
  top: 15px;
  left: 15px;
}
#box2 {
  background-color: blue;
  position: absolute;
  right: 0;
  top: 0;
  animation: girar 1000ms infinite;
}
#box3 {
  background-color: red;
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 1000ms, transform 1000ms;
}
#box3:hover {
  background-color: aqua;
  transform: scale(1.2);
}

#box4 {
  background-color: gray;
}

@keyframes girar {
    from {
       opacity: 0; 
    }
    to {
        opacity: 1;
        transform: rotate(360deg);
    }
}
